body {
    background-color: rgb(225, 255, 200);
    text-align: center;
}

h2 {
    font-family: 'Roboto Mono', monospace;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: grey;
}

.header {
    background-color: rgb(255, 255, 255);
}

button {
    font-family: 'Roboto Mono', monospace;
    margin-top: 30px;
    width: 120px;
}

.footer
{
    line-height: 15px;
    position: fixed;
    color: black;
    background-color: white;
    text-shadow: 5px 5px 5px rgb(164, 164, 164);
    text-align: center;
    width: 100%;
}

img {
    border-radius: 30%;
}